<div class="social-panel">
<a href="#" mat-button>
  <div class="icon-block">
    <mat-icon svgIcon="facebook" class="app-icon white" aria-hidden="false"
              aria-label="Example thumbs up SVG icon"></mat-icon>
  </div>
</a>
<a href="#" mat-button>
  <div class="icon-block">
    <mat-icon svgIcon="instagram" class="app-icon white" aria-hidden="false"
              aria-label="Example thumbs up SVG icon"></mat-icon>
  </div>
</a>
<a href="#" mat-button>
  <div class="icon-block">
    <mat-icon svgIcon="telegram" class="app-icon white" aria-hidden="false"
              aria-label="Example thumbs up SVG icon"></mat-icon>
  </div>
</a>
<a href="#" mat-button>
  <div class="icon-block">
    <mat-icon svgIcon="youtube" class="app-icon white" aria-hidden="false"
              aria-label="Example thumbs up SVG icon"></mat-icon>
  </div>
</a>
<a href="#" mat-button>
  <div class="icon-block">
    <mat-icon svgIcon="vk" class="app-icon white" aria-hidden="false"
              aria-label="Example thumbs up SVG icon"></mat-icon>
  </div>
</a>
<a href="#" mat-button>
  <div class="icon-block">
    <mat-icon svgIcon="linkedin" class="app-icon white" aria-hidden="false"
              aria-label="Example thumbs up SVG icon"></mat-icon>
  </div>
</a>
</div>
