<section class="white intrd-container" id="introduceId">
    <div class="intrd-container-intrl">
        <div class="title">
            <h1 i18n="Introduce|Title @@IntroduceTitle">Here will be content ...</h1>
        </div>
        <div class="grid-wrapper">
            <div class="card zone">
                <div class="card-title">
                    <mat-icon svgIcon="watch_later" class="app-icon orange" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
                    <h1 i18n="Introduce|Sub Title 1st @@IntroduceSubTitle1">Really Fast</h1>
                </div>
                <div class="text">
                    <p i18n="Introduce|Desc1_1 @@IntroduceText1_1">We are using prepared template to make your web site as soon as posible.</p>
                    <p i18n="Introduce|Desc1_2 @@IntroduceText1_2">We will just change content, images, colors scheme of page according targets of your new web site and your wishes.</p>
                    <p i18n="Introduce|Desc1_3 @@IntroduceText1_3">Our template allows to use multi languages, so you can share your products around world.</p>
                    <p i18n="Introduce|Desc1_4 @@IntroduceText1_4"></p>
                </div>
            </div>
            <div class="card zone">
                <div class="card-title">
                    <mat-icon svgIcon="insights" class="app-icon blue" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
                    <h1 i18n="Introduce|Sub Title 2nd @@IntroduceSubTitle2">Modern Design</h1>
                </div>
                <div class="text">
                    <p i18n="Introduce|Desc2_1 @@IntroduceText2_1">We know how important to have web site which meets last modern requirements, so we suggest page was implemented by most popular technical stack.</p>
                    <p i18n="Introduce|Desc2_2 @@IntroduceText2_2">Landing structure allows to focus on your product or service, which is suggested by you.</p>
                    <p i18n="Introduce|Desc2_3 @@IntroduceText2_3">It is easy-peasy supporting, it looks modern, it is really cheap to you as a customer.</p>
                    <p i18n="Introduce|Desc2_4 @@IntroduceText2_4"></p>
                </div>
            </div>
            <div class="card zone">
                <div class="card-title">
                    <mat-icon svgIcon="business" class="app-icon red" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
                    <h1 i18n="Introduce|Sub Title 3rd @@IntroduceSubTitle3">Improve image</h1>
                </div>
                <div class="text">
                    <p i18n="Introduce|Desc3_1 @@IntroduceText3_1">When you are choosing which of one of companies will provide you some service, let say truth, you will select company which share information about provided services by her, about herself.</p>
                    <p i18n="Introduce|Desc3_2 @@IntroduceText3_2">Right?</p>
                    <p i18n="Introduce|Desc3_3 @@IntroduceText3_3">We make sure so.</p>
                    <p i18n="Introduce|Desc3_4 @@IntroduceText3_4">Cause it sounds like company with a strong experience, which spent time and resources for her brand, her face.</p>
                </div>
            </div>
        </div>
    </div>
</section>
