<a mat-button [matMenuTriggerFor]="localMenu">
  <div class="icon-block">
    <mat-icon svgIcon="{{config.local}}" class="app-icon blue" aria-hidden="false"
              aria-label="Example thumbs up SVG icon"></mat-icon>
  </div>
  {{config.local}} </a>
<mat-menu #localMenu="matMenu" class="custom-lang-menu">
  <button mat-menu-item (click)="onChangeLanguage('En')">
    <div class="icon-block">
      <mat-icon svgIcon="En" class="app-icon blue" aria-hidden="false"
                aria-label="Example thumbs up SVG icon"></mat-icon>
    </div>En
  </button>
  <button mat-menu-item (click)="onChangeLanguage('Ru')">
    <div class="icon-block">
      <mat-icon svgIcon="Ru" class="app-icon blue" aria-hidden="false"
                aria-label="Example thumbs up SVG icon"></mat-icon>
    </div>Ru
  </button>
</mat-menu>
