.mat-menu-panel.custom-lang-menu{
  min-width: 60px;
  max-width: 100px;
}

.icon-block {
  display: inline;
  width: 50%;
  text-align: center;

  .app-icon {
    width: 20px;
    height: 20px;
    font-size: 30px;
  }

  .blue {
    fill: #3f51b5;
  }
}
