<section class="contact black" id="contactId">
  <img class="cover" src="assets/img/99902.jpg" i18n-alt="worldEntertainmentUI">
  <div class="cover-block">
    <div class="title">
      <h1 i18n="Contact|Title @@ContactTitle">Feel free and contact us</h1>
      <p i18n="Contact|Desc @@ContactDesc">This we can add some text to provide more information to clien <br/> about all that can be neccesary to them.</p>
    </div>
    <mat-card>
      <div class="row">
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" novalidate>

          <div class="row">
            <div class="sending-form">
              <mat-form-field appearance="legacy" class="two-in-row sendig-form-right">
                <mat-label i18n="Contact|SendForm Name @@SendFormName">Your First Name: </mat-label>
                <input matInput placeholder="Placeholder" [formControl]="firstName">
                <mat-hint i18n="Contact|Hint Name@@SendHintName">Enter your first name</mat-hint>
              </mat-form-field>
              <mat-form-field appearance="legacy" class="two-in-row">
                <mat-label i18n="Contact|SendForm Surename @@SendFormSurename">Your Last Name: </mat-label>
                <input matInput placeholder="Placeholder" [formControl]="lastName">
                <mat-hint i18n="Contact|Hint Surename@@SendHintSurename">Enter your last name</mat-hint>
              </mat-form-field>
            </div>
            <div class="contact-form">
              <div class="row">
                <div class="icon-block">
                  <mat-icon svgIcon="location" class="app-icon blue" aria-hidden="false"
                    aria-label="Example thumbs up SVG icon"></mat-icon>
                </div>
              </div>
              <div class="row">
                <div class="text-block">
                  <p i18n="Contact|ContactForm Address 1st @@ContactFormAddress1">Prague, Czech Republic,</p>
                  <p i18n="Contact|ContactForm Address 2nd @@ContactFormAddress2"> 15800, Praha 5</p>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="sending-form">
              <mat-form-field appearance="legacy" class="mail sendig-form-right">
                <mat-label i18n="Contact|SendForm Email @@SendFormEmail">Enter your email</mat-label>
                <input matInput placeholder="email@example.com" [formControl]="email" required>
                <mat-hint i18n="Contact|Hint Email@@SendHintEmail">Your e-mail</mat-hint>
                <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
              </mat-form-field>
              <mat-form-field appearance="legacy" class="country sendig-form-right">
                <mat-label i18n="Contact|SendForm Email @@SendFormCountry">Country</mat-label>
                <input type="text" aria-label="Number" matInput [formControl]="country"
                  [matAutocomplete]="auto" required>
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                  <mat-option *ngFor="let country of filteredOptions | async" [value]="country.dial_code">
                    <small>{{country.code}} </small>
                    <small> {{country.dial_code}}</small>
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
              <mat-form-field appearance="legacy" class="mail">
                <mat-label i18n="Contact|SendForm Phone @@SendFormPhone">Your phone number</mat-label>
                <app-phone-input formControlName="tel" required></app-phone-input>
              </mat-form-field>
            </div>
            <div class="contact-form">
              <div class="row">
                <div class="icon-block">
                  <mat-icon svgIcon="phone" class="app-icon blue" aria-hidden="false"
                    aria-label="Example thumbs up SVG icon">
                  </mat-icon>
                </div>
              </div>
              <div class="row">
                <div class="text-block">
                  <p i18n="Contact|ContactForm Phone @@ContactFormPhone">+420-589-658-987</p>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="sending-form">
              <mat-form-field appearance="legacy" class="one-in-row">
                <mat-label i18n="Contact|SendForm Msg @@SendFormMsg">Enter your questions</mat-label>
                <textarea matInput placeholder="Placeholder" [formControl]="text"></textarea>
              </mat-form-field>
            </div>
            <div class="contact-form">
              <div class="row">
                <div class="icon-block">
                  <mat-icon svgIcon="email" class="app-icon blue" aria-hidden="false"
                    aria-label="Example thumbs up SVG icon">
                  </mat-icon>
                </div>
              </div>
              <div class="row">
                <div class="text-block">
                  <p i18n="Contact|ContactForm Email @@ContactFormEmail">mr.azaroff@gmail.com</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row submit">
            <button>
              <mat-label i18n="Contact|SendForm Submit @@SendFormSubmit">Send</mat-label>
              <mat-icon svgIcon="send" class="app-icon blue" aria-hidden="false" aria-label="Example thumbs up SVG icon">
              </mat-icon>
            </button>
          </div>

        </form>
      </div>
    </mat-card>
  </div>
</section>
