<section class="content blue" id="contentId">
  <div class="content-wrapper">
<!--    <div class="title">-->
<!--      <h1 i18n="Content|Title @@ContentTitle">About Template ...</h1>-->
<!--    </div>-->
    <div class="cards-block">
      <mat-card class="card zone">
        <img src="assets/img/real_quests2.jpg">
        <div class="text">
          <div class="title-card">
            <h1 i18n="Content|Sub Title 1st @@ContentSubTitle1">Content Sub Title</h1>
          </div>
          <div class="text-card">
            <p i18n="Content|Text 1st @@ContentText1">This template our create work across an acceptable number of web
              browsers</p>
          </div>
          <button>
            <mat-label i18n="Content|Lern More @@ContentLearnMore">Learn more</mat-label>
            <mat-icon svgIcon="readMore" class="app-icon" aria-hidden="false"
                      aria-label="Example thumbs up SVG icon">
            </mat-icon>
          </button>
        </div>
      </mat-card>
      <mat-card class="card zone"><img src="assets/img/real_quests.jpg">
        <div class="text">
          <div class="title-card">
            <h1 i18n="Content|Sub Title 2nd @@ContentSubTitle2">Content Sub Title</h1>
          </div>
          <div class="text-card">
            <p i18n="Content|Text 2nd @@ContentText2">Our template uses Angular framework, reactive state management,
              SASS
              and etc. </p>
          </div>
          <button>
            <mat-label i18n="Content|Lern More @@ContentLearnMore">Learn more</mat-label>
            <mat-icon svgIcon="readMore" class="app-icon" aria-hidden="false"
                      aria-label="Example thumbs up SVG icon">
            </mat-icon>
          </button>
        </div>
      </mat-card>
      <mat-card class="card zone"><img src="assets/img/real_quests2.jpg">
        <div class="text">
          <div class="title-card">
            <h1 i18n="Content|Sub Title 3rd @@ContentSubTitle3">Content Sub Title</h1>
          </div>
          <div class="text-card">
            <p i18n="Content|Text 3rd @@ContentText3">This template provides opportunity your app to be usable in
              different locales</p>
          </div>
          <button>
            <mat-label i18n="Content|Lern More @@ContentLearnMore">Learn more</mat-label>
            <mat-icon svgIcon="readMore" class="app-icon" aria-hidden="false"
                      aria-label="Example thumbs up SVG icon">
            </mat-icon>
          </button>
        </div>
      </mat-card>
      <mat-card class="card zone"><img src="assets/img/real_quests.jpg">
        <div class="text">
          <div class="title-card">
            <h1 i18n="Content|Sub Title 4th @@ContentSubTitle4">Content Sub Title</h1>
          </div>
          <div class="text-card">
            <p i18n="Content|Text 4th @@ContentText4">Reusing pre-built templates will save you money. We save our time
              - you save your money</p>
          </div>
          <button>
            <mat-label i18n="Content|Lern More @@ContentLearnMore">Learn more</mat-label>
            <mat-icon svgIcon="readMore" class="app-icon" aria-hidden="false"
                      aria-label="Example thumbs up SVG icon">
            </mat-icon>
          </button>
        </div>
      </mat-card>
    </div>
  </div>
</section>
